* {
  height: auto;
  margin: 0;
  padding: 0;
}

.content {
  width: 90%;
  margin: 0 auto;
  height: 90%;
}

.missionInfo .card-img-top {
  max-width: 400px;
  min-width: 200px;
  overflow: hidden;
  object-fit: cover;
}

.missionInfo .card-body {
  max-width: 500px;
  min-width: 250px;
  padding: 0;
}
.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 250px;
  display: block;
}
.lead {
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.missionInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.missionContent {
  align-items: center;
  justify-content: center;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.imgBox > * {
  flex: 1 1 100px;
}

.imgBox img {
  max-width: 400px;
  min-width: 200px;
  overflow: hidden;
  margin: 20px;
  object-fit: cover;
}

.sliderImg {
  max-width: 100%;
  min-width: 100%;
  max-height: 600px;
  overflow: hidden;
  /* margin: 20px; */
  object-fit: cover;
}
